{% extends "layout.html" %}
{% block body %}
<div id="main" class="container">
<div class="row mb-2 bg-whttr">
    <img src="/static/images/categories/{{cat.image}}" class="rounded float-left img-fluid mr-3" style="width: 2rem; height: 2rem;" /><div class="pt-1"><a href="/store"  style="color: black;">Home</a>&nbsp; -> {{cat.name}}</div>
</div>
<div class="row">
    {% for p in prods %}
<div class="col-md-4 mb-4">
        <div class="card">
            <div class="card-top">
                <a tabindex="0" rel="popover" data-img="/static/images/products/{{p.image}}" data-trigger="focus" data-placement="right" >
                    <img class="card-img-top" onerror="this.src = '/static/images/missing.png';" src="/static/images/products/{{p.thumb}}" />
                </a>
            </div>
            <div class="card-body">
                <h5 class="card-title title"><a href="#" style="color:#333;">{{p.name}}</a></h5>
                <p class="card-text">
                    <a tabindex="0" rel="popover" class="nostyle" style="cursor:pointer;" title="synopsis" data-content="{{p.longdescription}}" data-trigger="focus" data-placement="right" data-html="true">
                        <div class="synopsis small"><b>description:</b><br>{{p.longdescription}}</div>
                    </a>
                    
                    <p class="mt-2">Price: <b>${{p.price}}</b></p>
                    {% if p.sku in incart %}
                    <button class="btn btn-success" disabled>IN CART</button>
                    {% else %}
                    <form action="/add_to_cart/{{p.sku}}/{{p.price}}">
                        <button class="btn btn-danger">Add to Cart</button>
                    </form>
                    {% endif %}
                </p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
</div>
{% endblock %}