{% extends "layout.html" %}
{% block body %}
<div id="main" class="container">
<h2>{{store_name}}</h2>
<div class="card">
    <div class="card-header">
        Checkout Shipping
    </div>
    <div class="card-body">
        <div class="card-text">
            <form method="POST" action="/checkout/payment">
                {% for key, value in person.items() %}
                <input type="hidden" name="{{key}}" value="{{value}}" />
                {% endfor %}
           <div class="row mt-3">
               <div class="col-md-3">

                    <p>
                        Shipping <b>{{cartitems}}</b> {% if cartitems == 1 %} item {% else %} items {% endif %} to:</p>
                        <p class="text-left">
                        <b>{{person.shipfname}} {{person.shiplname}}<br>
                        {{person.shipaddress1}} {{person.shipaddress2}}<br>
                        {{person.shipcity}} {{person.shipstate}} {{person.shipzip}} {{person.shipcountry}}</b>
                    </p>
               </div>
               <div class="col-md-9">
                   <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-8">
                            <h5>Shipping (choose shipping option)</h5>
                            {% for ship in ship_options %}
                            <div class="form-check mt-2">
                                <input class="form-check-input" type="radio" name="shipping" id="standard" value="{{ship.id}}" {% if ship.isdefault %} checked {% endif %}>
                                <label class="form-check-label" for="standard">
                                    {{ship.name}} - {{ship.description}} (${{ship.total_cost}})
                                </label>
                            </div>
                            {% endfor %}
                        
                        </div>
                        <div class="col-md-2"></div>
                   </div>
               </div>
            </div>
            <div class="row mt-4">
                <div class="col-md-12">
                    <a href="#" class="btn btn-primary float-left" onClick="window.history.back()">Go Back</a><button class="btn btn-primary float-right" type="submit">Continue</button>
                </div>
            </div>
        </div>
    </div>
</div>
</form>
</div>
{% endblock %}