{% extends "layout.html" %}
{% block body %}
<div id="main" class="container">
    <h2>flaskommerce Store</h2>
    <div class="row">
        {% for p in prods %}
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-top">
                    <a rel="popover" data-img="https://www.goavmod.com/images/{{p.cust}}/l/{{p.upc}}.jpg" >
                        <img class="card-img-top" src="https://www.goavmod.com/images/{{p.cust}}/l/{{p.upc}}.jpg" />
                    </a>
                </div>
                <div class="card-body">
                    <h5 class="card-title title">{{p.title}}</h5>
                    <p class="card-text">
                        <div class="synopsis small">{{p.street}}<br><b>synopsis:</b><br>{{p.synopsis}}</div>
                        <p class="mt-2">Price: ${{p.suggestedRetail}}</p>
                        <button class="btn btn-default">Add to Cart</button>
                    </p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}