{% extends "layout.html" %}
{% block body %}
<div id="main" class="container-fluid">
<div class="main-img" style="position: relative;">
    <div class="store-over">
        <div class="info-box">
            <h3>Look at This</h3>
            <hr align="left" style="width: 20%; border-top: 3px solid rgb(0, 0, 0, .5);">
            <p>This is some text that talks about stuff and whatever okay. You can buy stuff by clicking here. Use this to highlight what makes this brand great.</p>
            <a href="/store" role="button" class="btn btn-carousel carousel-button">Shop Now &nbsp; <i class="fa fa-angle-right"></i></a>
        </div>
    </div>
    <img src="/static/images/Sample_1.jpg" />
</div>
<div class="row mt-4">
        <div class="col-md-12 text-center">
            <h4>FEATURED</h4>
            <hr style="width: 60px; border-top: 3px solid rgb(0, 0, 0, .5);">
        </div>
    </div>
    <div class="row">
        {% for f in featured %}
        <div class="col-md-4 mb-4">
            <a href="/item/{{f.id}}" style="color:#333;" class="prod-link">
                <div class="product-2" style="height: 400px;">
                    <div class="product-2-top">
                        <div class="product-2-img">
                            <img onerror="this.src = '/static/images/missing.png';" data-other-src="/static/images/products/{{f.image_other}}" src="/static/images/products/{{f.image}}" />
                        </div>
                        <div class="product-2-hover">
                            SELECT OPTIONS <i class="fa fa-angle-right"></i>
                        </div>
                    </div>
                    <div class="product-2-body">
                        <span class="prod-text">{{f.name}}</span><br>
                        <span class="prod-price">${{f.price}}</span>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>
<div class="row mt-4">
        <div class="col-md-12 text-center">
            <h4>OUR CUSTOM TEES</h4>
            <hr style="width: 60px; border-top: 3px solid rgb(0, 0, 0, .5);">
        </div>
    </div>
    <div class="row">
        {% for f in feature2 %}
        <div class="col-md-4 mb-4">
            <a href="/item/{{f.id}}" style="color:#333;" class="prod-link">
                <div class="product-2" style="height: 400px;">
                    <div class="product-2-top">
                        <div class="product-2-img">
                            <img onerror="this.src = '/static/images/missing.png';" data-other-src="/static/images/products/{{f.image_other}}" src="/static/images/products/{{f.image}}" />
                        </div>
                        <div class="product-2-hover">
                            SELECT OPTIONS <i class="fa fa-angle-right"></i>
                        </div>
                    </div>
                    <div class="product-2-body">
                        <span class="prod-text">{{f.name}}</span><br>
                        <span class="prod-price">${{f.price}}</span>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="/static/js/prod_image.js"></script>
{% endblock %}