{% extends "layout.html" %}
{% block body %}
<h2>{{store_name}}</h2>
<div class="row">

    {% for p in prods %}
    <div class="col-md-4 mb-4">
        <div class="card">
            <div class="card-top">
                <a tabindex="0" rel="popover" data-img="https://www.goavmod.com/images/{{p.cust}}/l/{{p.upc}}.jpg" data-trigger="focus" data-placement="right" >
                    <img class="card-img-top" onerror="this.src = '/static/images/missing.png';" src="https://www.goavmod.com/images/{{p.cust}}/l/{{p.upc}}.jpg" />
                </a>
            </div>
            <div class="card-body">
                <h5 class="card-title title">{{p.title}}</h5>
                <p class="card-text">
                    {{p.street}}
                    <a tabindex="0" rel="popover" class="nostyle" style="cursor:pointer;" title="synopsis" data-content="{{p.synopsis}}" data-trigger="focus" data-placement="right" data-html="true">
                        <div class="synopsis small"><b>synopsis:</b><br>{{p.synopsis}}</div>
                    </a>
                    
                    <p class="mt-2">Price: ${{p.suggestedRetail}}</p>
                    {% if p.upc in incart %}
                    <button class="btn btn-success" disabled>IN CART</button>
                    {% else %}
                    <form action="/add_to_cart/{{p.upc}}/{{p.suggestedRetail}}">
                        <button class="btn btn-danger">Add to Cart</button>
                    </form>
                    {% endif %}
                </p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}